.tooltip.in {
  opacity: 1 !important;
}
.tooltip-arrow {
  border-bottom-color: $lightgray !important;
}
.tooltip-inner {
  color: #9b9b9b !important;
  background-color: $lightgray !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 0;
}
